include ../templates/header.jade
div(ng-controller="SessionCtrl" ng-init="init()")
  .poker(ng-show="currentUser.username")
    .row
      .team.large-4.medium-6.columns.wow.fadeInLeft
        .card
          .title(ng-show="players.length")
            .large-9.small-9.columns
              h6.subdued(ng-if="players.length == 1") Player
              h6.subdued(ng-if="players.length > 1") Players
            .large-3.small-3.text-center.columns
              h6.subdued Voted
          .body(ng-show="players.length")
            .player(ng-repeat="player in players" ng-class="{current: player.id == currentUser.id}")
              .profile.large-9.small-9.columns
                img(src='assets/img/account-circle.png', alt='Player Profile Pic')
                p {{player.username}}
              .vote.large-3.small-3.text-center.columns
                h1.display(ng-show="showVotes || player.id == currentUser.id") {{votes[player.id]}}
                i.fa.fa-check(ng-show="!showVotes && player.voted && player.id != currentUser.id")
          .title(ng-show="moderators.length")
            .large-12.columns
              h6.subdued(ng-if="moderators.length == 1") Moderator
              h6.subdued(ng-if="moderators.length > 1") Moderators
          .body(ng-show="moderators.length")
            .player(ng-repeat="moderator in moderators")
              .profile.large-12.columns
                img(src='assets/img/account-circle.png', alt='Player Profile Pic')
                p {{moderator.username}}

      .pointing.large-6.columns
        .stacked.wow.fadeIn(data-wow-delay='0.05s')
          .content
            h6 What are we pointing?
            h2(ng-class="{subdued: !description}" hide-for="moderator" model="currentUser.type") {{description || "Legen -wait for it- dary!"}}
            textarea(hide-for="player" ng-model="description" ng-keyup="updateDescription()" model="currentUser.type")
        ul.points.button-group(hide-for="moderator" model="currentUser.type")
          li(ng-repeat="vote in voteValues" ng-click="setVote(vote.value)")
            .card.wow.fadeInUp(data-wow-delay='{{($index+1)*0.05}}s')
              span.button(ng-disabled="showVotes")
                h1.subdued.display {{vote.label}}
        .large-10.large-centered.wow.fadeIn.columns(hide-for="player" model="currentUser.type" data-wow-delay="0.1s")
          ul.controls.even-2.button-group
            li
              a.defaultbtn.button(href="javascript:void(0);" ng-click="clearVotes()" model="currentUser.type") Play again
            li
              a.defaultbtn.button(href="javascript:void(0);" ng-click="revealVotes()" model="currentUser.type" ng-hide="showVotes") Reveal

      .results.large-2.medium-6.hide-for-small-only.columns.wow.flipInY(ng-show="showVotes" data-wow-delay='1s')
        .card
          .title
            h6.subdued Results
          .body
            .head.row
              .large-6.small-6.text-center.columns
                h6 Points
              .large-6.small-6.text-center.columns
                h6 Votes
            .count.row
              h5.success.text-center(ng-show="unanimous") Wondrous!
              h5.error.text-center(ng-show="!unanimous && showDetailsMsg") Disagreement
              ul(ng-repeat="(point, votes) in points")
                li.large-12.small-12.columns
                  span.large-6.small-6.text-center.columns {{point}}
                  span.large-6.small-6.text-center.columns {{votes.length}}

  .share
    .row
      .large-12.text-center.columns
        h1.headline.subdued.wow.fadeIn Share this session with your mates
      .large-6.medium-6.columns
        .stacked-inverted.wow.fadeInUp(data-wow-delay='0.1s')
          .content
            .link.row.collapse
              .small-11.columns
                label.subdued
                  | Full link
                input(type="text" ng-model="url" disabled)
              .small-1.columns(tooltip="{{copyMsg}}" tooltip-placement="top" ng-mouseenter="setCopyMsg('Copy')")
                button.button.postfix(id="share-url" clip-copy='url' clip-click="setCopyMsg('Copied')")
                  i.fa.fa-clipboard
      .large-6.medium-6.columns
        .stacked-inverted.wow.fadeInUp(data-wow-delay='0.2s')
          .content
            .link.row.collapse
              .small-11.columns
                label.subdued
                  | Session ID
                input(type="text" ng-model="sessionId" disabled)
              .small-1.columns(id="share-id" tooltip="{{copyMsg}}" tooltip-placement="top" ng-mouseenter="setCopyMsg('Copy')")
                button.button.postfix(clip-copy='sessionId' clip-click="setCopyMsg('Copied')")
                  i.fa.fa-clipboard

include ../templates/footer.jade
