include ../templates/header.jade
container.retrospective(ng-controller="RetrospectiveCtrl" ng-init="init()")
  .row.row-with-padding.retrospective
    .large-3.columns
      h5.title Prouds
        button.button.tiny.showy(ng-click="toggleInputMode('good')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.good, 'fa-minus': inputMode.good}")
       textarea(ng-model="newEntry.good" placeholder="Some example..." ng-enter="add('good')" ng-show="inputMode.good && !reviewMode")
      //list of good things
      ul
        li(ng-repeat="entry in session.good")
          div(ng-if="reviewMode")
            a.left(ng-click="openEntry('good', entry)") {{entry.text}}({{entry.username}})
            i.fa.fa-check(ng-show="entry.read")
            .right(ng-show="currentUser.type == 'moderator'")
              i.fa.fa-pencil(ng-click="edit('good', entry)")
              i.fa.fa-times(ng-click="remove('good', entry)")
          div(ng-if="!reviewMode")
            span.left {{entry.text}}
            .right(ng-show="currentUser.id == entry.userId")
              i.fa.fa-pencil(ng-click="edit('good', entry)")
              i.fa.fa-times(ng-click="remove('good', entry)")
    .large-3.columns
      h5.title Sorries
        button.button.tiny.showy(ng-click="toggleInputMode('bad')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.bad, 'fa-minus': inputMode.bad}")
      textarea(ng-model="newEntry.bad" placeholder="Some example..." ng-enter="add('bad')" ng-show="inputMode.bad && !reviewMode")
      //list of bad things
      ul
       li(ng-repeat="entry in session.bad")
          div(ng-if="reviewMode")
            a.left(ng-click="openEntry('bad', entry)") {{entry.text}}({{entry.username}})
            i.fa.fa-check(ng-show="entry.read")
            .right(ng-show="currentUser.type == 'moderator'")
              i.fa.fa-pencil(ng-click="edit('bad', entry)")
              i.fa.fa-times(ng-click="remove('bad', entry)")
          div(ng-if="!reviewMode")
            span.left {{entry.text}}
            .right(ng-show="currentUser.id == entry.userId")
              i.fa.fa-pencil(ng-click="edit('bad', entry)")
              i.fa.fa-times(ng-click="remove('bad', entry)")
    .large-4.columns
      h5.title Ideas
        button.button.tiny.showy(ng-click="toggleInputMode('improvements')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.improvements, 'fa-minus': inputMode.improvements}")
      textarea(ng-model="newEntry.improvements" placeholder="Some example..." ng-enter="add('improvements')" ng-show="inputMode.improvements && !reviewMode")
      ul
        li(ng-repeat="entry in session.improvements")
          div(ng-if="reviewMode")
            a.left(ng-click="openEntry('improvements', entry)") {{entry.text}}({{entry.username}})
            i.fa.fa-check(ng-show="entry.read")
            .right(ng-show="currentUser.type == 'moderator'")
              i.fa.fa-pencil(ng-click="edit('improvements', entry)")
              i.fa.fa-times(ng-click="remove('improvements', entry)")
          div(ng-if="!reviewMode")
            span.left {{entry.text}}
            .right(ng-show="currentUser.id == entry.userId")
              i.fa.fa-pencil(ng-click="edit('improvements', entry)")
              i.fa.fa-times(ng-click="remove('improvements', entry)")
    .large-2.columns.players
      .row.text-center(hide-for="player" model="currentUser.type")
        span
          input(type="checkbox" ng-click="toggleShow($event)") Show for others
        button.btn.showy(ng-click="toggleReviewMode()") {{ reviewMode ? 'Hide' : 'Reveal'}}
      h5.title Players
      ul
        li(ng-repeat="player in players")
          span(ng-class="{active: player.id == currentUser.id}") {{player.username}}
      h5.title Moderators
      ul
        li(ng-repeat="moderator in moderators")
          span(ng-class="{active: moderator.id == currentUser.id}") {{moderator.username}}
  .row.row-with-padding.share
    h5.title Share Session with your team
    .large-6.columns
      .row.collapse
        label Full Link
        .large-11.columns
          input(type="text" ng-model="url" disabled)
        .large-1.column(tooltip="{{copyMsg}}" tooltip-placement="right" ng-mouseenter="setCopyMsg('Copy')")
          button.button.showy.postfix(id="share-url" clip-copy='url' clip-click="setCopyMsg('Copied')")
            i.fa.fa-clipboard
    .large-6.columns
      .row.collapse
        label Session Id
        .large-11.columns
          input(type="text" ng-model="sessionId" disabled)
        .large-1.columns(id="share-id" tooltip="{{copyMsg}}" tooltip-placement="right" ng-mouseenter="setCopyMsg('Copy')")
          button.button.showy.postfix(clip-copy='sessionId' clip-click="setCopyMsg('Copied')")
            i.fa.fa-clipboard

include ../templates/footer.jade
