include ../templates/header.jade
#container.retrospective(ng-controller="RetrospectiveCtrl" ng-init="init()")
  .row.row-with-padding
    .large-3.columns
      h5.title What went well?
        button.button.tiny.showy(ng-click="toggleInputMode('good')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.good, 'fa-minus': inputMode.good}")
       textarea(ng-model="newEntry.good" placeholder="Some example..." ng-enter="add('good')" ng-show="inputMode.good")
      ul
        li(ng-repeat="entry in session.good")
          span.left {{entry.text}}
          .right(ng-hide="entry.disabled")
            i.fa.fa-pencil(ng-click="edit('good', entry)")
            i.fa.fa-times(ng-click="remove('good', entry)")
    .large-3.columns
      h5.title What went bad?
        button.button.tiny.showy(ng-click="toggleInputMode('bad')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.bad, 'fa-minus': inputMode.bad}")
      textarea(ng-model="newEntry.bad" placeholder="Some example..." ng-enter="add('bad')" ng-show="inputMode.bad")
      ul
        li(ng-repeat="entry in session.bad")
          span {{entry.text}}
          .right(ng-hide="entry.disabled")
            i.fa.fa-pencil(ng-click="edit($index, 'bad')")
            i.fa.fa-times(ng-click="remove('bad', entry)")
    .large-4.columns
      h5.title What can we improve?
        button.button.tiny.showy(ng-click="toggleInputMode('improvements')" ng-hide="reviewMode")
          i.fa(ng-class="{'fa-plus': !inputMode.improvements, 'fa-minus': inputMode.improvements}")
      textarea(ng-model="newEntry.improvements" placeholder="Some example..." ng-enter="add('improvements')" ng-show="inputMode.improvements")
      ul
        li(ng-repeat="entry in session.improvements")
          span {{entry.text}}
          .right(ng-hide="entry.disabled")
            i.fa.fa-pencil(ng-click="edit($index, 'improvements')")
            i.fa.fa-times(ng-click="remove('improvements', entry)")
    .large-2.columns.players
      .row.text-center(hide-for="player" model="currentUser.type")
        button.btn.showy(ng-click="toggleReviewMode()") {{ reviewMode ? 'Hide' : 'Reveal'}}
      h5.title Players
      ul
        li(ng-repeat="player in players")
      h5.title Moderators
      ul
        li(ng-repeat="moderator in moderators")
          span(ng-class="{active: moderator.id == currentUser.id}") {{moderator.username}}
   span(ng-class="{active: moderator.id == currentUser.id}") {{moderator.username}}
include ../templates/footer.jade
