@import "font-awesome/css/font-awesome.css"

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v\=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v\=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v\=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

// Component styles are injected through grunt
// injector
@import 'footer/footer.styl';
@import 'main/main.styl';
@import 'mixins.styl';
@import 'pointing/session.styl';
@import 'retrospective/retrospective.styl';
@import 'voteValues/voteValues.styl';
// endinjector

//Global style


h1, h2, h3, h4, h5, h6, p
  color darkestBlue

h1
  font fontRegular fontBigger fontFamily, sans-serif

h2
  font fontRegular fontBig fontFamily, sans-serif

h6
  font fontBold fontSmaller fontFamily, sans-serif

p
  letter-spacing 0.5px

.subdued
  color darkerGrey

.display
  font fontRegular fontBiggest fontFamily, sans-serif

.quote
  font italic fontRegular fontSmaller fontFamily, sans-serif
  text-align right
  &:before
    content "- "

/* ==========================================================================
   Button Styles
   ========================================================================== */

.defaultbtn
 inkBtn lightBlue darkestBlue

.headline
  margin-bottom 78px
  &:after
    content url("../assets/img/separator-sm-dark.png")
    display block
    margin auto
    margin-top -10px

.defaultbtn
  materialBtn()
  background-color lightBlue
  color darkestBlue
  &:hover, &:focus
    background-color Green
    color White

.hilightbtn
  materialBtn()
  background-color Green
  color White
  &:hover, &:focus
    background-color darkGreen

.inkbtn
  materialBtn()
  background-color transparent
  color darkerGrey
  &:hover, &:focus
    background-color Green
    color White

.inkbtn.disabled, .inkbtn[disabled]
  background-color transparent
  color #A4ABAE

.inkbtn.disabled:hover, .inkbtn[disabled]:hover, .inkbtn.disabled:focus, .inkbtn[disabled]:focus
  background-color #EBEEF0
  color #A4ABAE


.outlinebtn
  materialBtn()
  background-color transparent
  border 1px solid Green
  color Green
  &:hover
    background-color Green
    border Green
    color White

/* ==========================================================================
   General Styles
   ========================================================================== */

.headline
  margin-bottom: 78px
  &:after
    content url("../assets/img/separator-sm-dark.png")
    display block
    margin auto
    margin-top -10px

.card
  border 1px solid Grey
  border-radius 2px
  box-shadow 0px 1px 0px #DFDFDF
  .title
    background-color lightBlue
    padding 24px
    h2, h6
      color darkBlue
      font-weight fontBold
      margin 0
  .body
    background-color White
    overflow hidden
    padding 24px

.stacked
  stackedCards()
  box-shadow 0px 3px 0px -2px White, 0px 3px 0 -1px lightBlue, 0px 6px 0 -3px White, 0px 6px 0 -2px lightBlue
  &>.content
    background-color Grey
    margin 5px 5px 10px
    padding 6px 12px

.stacked-inverted
  stackedCards()
  border-bottom none
  box-shadow 0px -3px 0px -2px White, 0px -3px 0 -1px lightBlue, 0px -6px 0 -3px White, 0px -6px 0 -2px lightBlue
  &>.content
    background-color Grey
    padding 8px 5px 20px 5px
    h1
      color Green
      line-height 1
      margin 0

.modal
  .title
    margin-bottom 20px
    h2, a
      display inline
    .close-reveal-modal
      color darkerGrey
      font-size fontBig
      line-height 1
      float right
      margin-top 4px
      position initial
      top 0
      right 0
  .button-group
    margin-top 30px
    text-align right


/* ==========================================================================
   NavBar Styles
   ========================================================================== */

.contain-to-grid
  background #253137
  box-shadow 0px 2px 4px rgba(0,0,0,0.2)


.top-bar
  height 4.8125rem
  background #253137
  .expanded .title-area
    background-color #253137

.log
  background-color #36464E
  padding 10px 0 11px
  .large-12
    padding 0
  p
    display inline
    font-size 12px
    font-weight 300
  a
    font-size 12px
    font-weight 400
    letter-spacing 0.5px
    transition all 100ms ease-in-out
  &:hover
    color #BFC932

.navbar .title-area img{
  width: 290px;
  margin-top: 16px;
}

.navbar .top-bar-section ul{
  margin-top: 16px;
}

.navbar .top-bar-section li:not(.has-form){
  background: #253137;
}

.navbar .top-bar-section li:not(.has-form) a:not(.button){
  background: #253137;
  color: #BDC1C3;
  font-size: 16px;
  font-weight: 100;
  padding: 0 30px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.navbar .top-bar-section li:not(.has-form) a:not(.button):hover{
  color: #BFC932;
}

.navbar .top-bar-section li:not(.has-form) a:not(.button) .active{
  color: #FFF;
  font-weight: 400;
}

.navbar .top-bar-section li:not(.has-form):last-child a:not(.button){
  padding-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 64.063em){
  .results .card .title{
    padding: 15px 12px;
  }
  .results .card .body{
  padding: 0;
  }
  .results .head{
    padding: 15px 12px;
  }
  .results .head .columns{
    padding: 0 8px;
  }
  .results .count{
    padding: 0px 12px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em){
  .headline{
    margin-bottom: 38px;
  }
  .log{
    padding: 10px 15px 11px 15px;
  }
  .contain-to-grid .top-bar{
    padding: 10px 15px;
  }
  .navbar .title-area img{
    width: 220px;
    margin-top: 10px;
  }
  .navbar .top-bar-section ul{
    margin-top: 6px;
  }
  .navbar .top-bar-section li:not(.has-form) a:not(.button){
    padding: 0 15px;
  }
  .session{
    margin: -97px 0 48px;
  }
  .faq{
    background-color: #EBEEF0;
    padding: 38px 0;
  }
  .values{
    padding: 38px 0;
  }
  .poker{
    margin: 38px 0;
  }
  .poker>.row{
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    webkit-justify-content: center;
    align-items: flex-start;
    webkit-align-items: flex-start;
  }
  .poker .team{
    order: 1;
    width: 50%;
  }
  .poker .pointing{
    margin-top: 38px;
    order: 3;
  }
  .poker .results{
    order: 2;
    width: 49%;
  }
  .poker .results .card{
    width: 100%;
  }
  .pointing .stacked{
    margin-bottom: 38px;
  }
  .share{
    padding-top: 38px;
  }
}

@media only screen and (max-width: 40em){
  .headline{
    margin-bottom: 38px;
  }
  .top-bar{
    height: 3.8125rem;
  }
  .navbar .title-area img{
    width: 200px;
    margin-top: 5px;
  }
  .log{
    padding: 10px 15px 11px 15px;
  }
  .navbar .top-bar-section li:not(.has-form) a:not(.button){
    padding:15px 0px;
  }
  .contain-to-grid .top-bar{
    padding: 10px 15px;
  }
  .header{
    height: 400px;
  }
  .header > .row img{
    width: 100%;
    margin-bottom: 90px;
  }
  .card{
    margin-bottom: 20px;
  }
  .session{
    margin: -97px 0 33px;
  }
  .faq{
    background-color: #EBEEF0;
    padding: 23px 0;
  }
  .faq img{
    width: 100%;
  }
  .values{
    padding: 38px 0;
  }
  .pivotal .stat{
    padding: 0 0.4375rem;
  }
  .pvtlinked .stat h1{
    width: 60px;
    padding: 5px;
  }
  .poker>.row{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .poker{
    margin: 38px 0;
  }
  .poker .team{
    order: 3;
  }
  .poker .pointing{
    order: 1;
    margin-bottom: 38px;
  }
  .poker .pointing .stacked{
    margin-bottom: 38px;
  }
  .pointing .points li.card{
    margin: 10px 6px;
  }
  .poker .results{
    order: 2;
  }
  .share{
    padding-top: 38px;
  }
  footer .social{
    margin-top: 20px;
  }
}
