@import "font-awesome/css/font-awesome.css"

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v\=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v\=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v\=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//Variables
  //pokerBlue = #08C7CF;
  //pokerBlue = #333;
  pokerBlue = #0A6CA8;
  aqua = #00C7B5;
  aquaLight = #C1EFEB;

// Component styles are injected through grunt
// injector
@import 'footer/footer.styl';
@import 'main/main.styl';
@import 'session/session.styl';
@import 'voteValues/voteValues.styl';
// endinjector

//Foundation overwrites
.row-with-padding
  padding-top:30px

//button.button
//  background: aqua
//  &[disabled]
//    background: #73CFC6
//    &:hover
//      background: #2fe4d3
//  &:hover
//    background: #2fe4d3
//  &:active
//    background: #2fe4d3
//  &:focus
//    background: #2fe4d3

table
  border: none
  tbody tr td
    line-height: .7rem

.active
  background: aquaLight

.success
  color: green

.error
  color: red

