buttonEvents(color)
  &[disabled]
    background: desaturate(color, 30%)
    &:hover
      background: desaturate(color, 30%)
  &:hover
    background: saturate(lighten(color, 20%), 30%)
  &:active
    background: lighten(color, 20%)
  &:focus
    background: lighten(color, 20%)

transition()
  -webkit-transition arguments
  -moz-transition    arguments
  -o-transition      arguments
  transition         arguments

materialBtn()
  border-radius 2px
  font fontBold fontSmaller fontFamily, sans-serif
  letter-spacing 0.5px
  margin-bottom 0
  padding 8px
  text-transform uppercase
  transition all 100ms ease-in-out

stackedCards()
  background-color White
  border-radius 2px 2px 0 0
  border 1px solid lightBlue
  padding 5px 5px 0

circledBorder()
  border         arguments
  border-radius  50%

socialHover()
  background-color  #FFF
  border  1px solid #FFF
  color  #445963
