include ../templates/header.jade
.container(ng-controller="VoteValuesCtrl" ng-init="init()")
  .main-content.vote-values-container
    .row.row-with-padding
      .large-10.large-centered.columns
        .row
          .large-4.columns.large-centered
            table
              thead
                tr
                  th Label
                  th Value
                  th
              tbody
                tr(ng-repeat="(label, value) in voteValues")
                  td
                    input(type="text" value="{{label}}")
                  td
                    input(type="text" value="{{value}}")
                  td
                    button.btn.tiny
                      i.fa.fa-trash

include ../templates/footer.jade
