.vote-values-container{
  table tr input{
    min-width: 85px
    margin: 0
    height: 30px
  }
  table button{
    margin: 0
    font-size: 15px
    padding: 5px 10px
  }
  tr:last-child{
    background: rgb(239, 239, 239);
  }
}
