//-.log
//-  .row
//-    .large-12.text-right.columns
//-      a.subdued(href='#')  Log in
//-      p.subdued or
//-      a.subdued(href='#')  Sign up
.navbar.contain-to-grid.sticky
  nav.menu.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name
        img(src='assets/img/nav-id.png', alt='Planning Poker ID')
