#banner
    background bannerColor
    padding 17px 15px 17px 15px
    text-align center
    border-bottom: 5px solid highlight2
#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1
    color: white
.row.separator:after
  content: ""
  display: inline-block
  height: 300px
  width: 1px
  background: steadyGray
  margin-top: 25px;
  position: absolute
  left: 50%
body
  color: route66
