@import 'mixins.styl';

.header
  height 600px
  background-image url("../assets/img/header-bg.jpg")
  background-color #253137
  background-size cover
  background-repeat none
  display flex
  display -webkit-flex
  & > .row
    display flex
    display -webkit-flex
    align-items center
    webkit-align-items center
    img
      width 62%
    h2
      color #FFF
      margin 70px 0 90px

.session
  margin -90px 0 88px
  overflow hidden

.stats
  overflow hidden

.faq
  background-color #EBEEF0
  padding 88px 0
  img
    width 700px
  .question
    margin-bottom 24px
    p
      color #253137
      letter-spacing 1px


