#banner
    background bannerColor
    padding 17px 15px 17px 15px
    text-align center
    border-bottom: 5px solid highlight2
#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1
    color: white
