include ../templates/header.jade
.container
  .main-content
    .row-with-padding
      .large-2.large-centered.columns
        input(type="text" ng-model="username" placeholder="Enter a username")
        button.medium.button.radius(ng-click="startSession()") Start a session
      hr
    .row-with-padding
      .large-2.large-centered.columns
        input(type="text" ng-model="username_" placeholder="Enter a username")
        input(type="text" ng-model="sessionId" placeholder="Enter a session id")
        button.medium.button.radius(ng-click="join()") Join a session
include ../templates/footer.jade
