@import 'mixins.styl';

footer
  background-color darkBlue
  padding 20px 0
  h6
    color White
    font-weight fontRegular
  .facebook
    circledBorder 1px solid White
    color White
    margin-right 24px
    padding 10px 12px 10px 13px
    transition all 100ms ease-in-out
    &:hover
      socialHover()
  .twitter
    circledBorder 1px solid White
    color White
    margin-right 24px
    padding 10px 9px 10px 8px
    transition all 100ms ease-in-out
    &:hover
      socialHover()
  .linkedin
    circledBorder 1px solid White
    color White
    padding 10px 12px
    transition all 100ms ease-in-out
    &:hover
      socialHover()
