.footer
  background: #4393b9
  border-top 1px solid #E5E5E5
  margin-top 70px
  padding 30px 0
  text-align center
  .social-btn
    width: 30px
    height: 10px
    color: white
    font-size: 35px
    margin: 0 5px
  .social-btn:hover
    color: #55acee
