.footer
  background: bannerColor
  border-top 1px solid #E5E5E5
  padding 35px 0
  text-align center
  .social-btn
    width: 30px
    height: 10px
    color: white
    font-size: 35px
    margin: 0 5px
  .social-btn:hover
    opacity: .8
