.modal
  h2.title Editing

  textarea(ng-model="currentEntry.text")
  .button-group
    button.inkbtn(ng-click='$dismiss(this)') CANCEL
    button.inkbtn(ng-click='$close(this)' ng-disabled="!currentEntry.text") OK
