.modal
  h2.title OOOOPS !

  h4 You have been disconnected, please check your internet connection and reload page.
  .button-group
    a.inkbtn(href="javascript:window.location.reload(true)") Reload
