div.entry-modal
 textarea(ng-model="currentEntry.text")
 button.button(ng-click='toggleRead(currentEntry)') {{ currentEntry.read ? 'Mark as unread' : 'Mark as read' }}
 button.button.showy(ng-click='previous(currentEntry)') Previous
 button.button.showy(ng-click='next(currentEntry)') Next
 button.button(ng-click='$close(this)') Close
