.modal
  .title
    h2#modalTitle We should do more of...
    a.close-reveal-modal(ng-click='$close(this)' aria-label='Close')
      i.fa.fa-close
  p#entry {{currentEntry.text}}
  p.quote {{currentEntry.username}}
  ul.button-group.right
    li
      button.inkbtn(ng-click='toggleRead(currentEntry)' ng-show="reviewMode") {{ currentEntry.read ? 'MARK AS UNREAD' : 'MARK AS READ' }}
    li
      button.inkbtn(ng-click='previous(currentEntry)') PREVIOUS
    li
      button.inkbtn(ng-click='next(currentEntry)') NEXT
