div
  h3 Enter username
  input(type="text" ng-model="username")
  h3 Enter as
  select(ng-model="type")
    option(value="player") Player
    option(value="observer") Observer
  button.button(ng-click='$close(this)' ng-disabled="!username" ) OK
