.modal
  h2.title Join a session

  form
    h5 Enter username
    input(type="text" ng-model="username")
    h5 Enter as
    select(ng-model="userType")
      option(value="player") Player
      option(value="moderator") Scrum Master / Moderator
    .button-group
      button.inkbtn(ng-click='$close(this)' ng-disabled="!username" ) ENTER
