include ../templates/header.jade
.container(ng-controller="SessionCtrl" ng-init="init()")
  .row.row-with-padding
    .large-3.columns
      .row(ng-show="players.length")
        .large-12.large-centered.columns
          h5.title Players
          table(cellspacing=0)
            thead
              tr
                th Name
                th Voted
                th Point
            tbody
              tr(ng-repeat="player in players")
               td(ng-class="{active: player.id == currentUser.id}") {{player.username}}
               td(ng-class="{active: player.id == currentUser.id}")
                 i.fa.fa-check(ng-show="player.voted")
               td(ng-class="{active: player.id == currentUser.id}") {{votes[player.id]}}
      .row(ng-show="moderators.length")
        .large-12.large-centered.columns
          h5.title Moderators
          table(cellspacing=0)
            thead
              tr
                th Name
            tbody
              tr(ng-repeat="moderator in moderators")
               td(ng-class="{active: moderator.id == currentUser.id}") {{moderator.username}}
    .large-9.columns
      .row
        .large-8.columns
          h5.title Poker Area
          label What are we pointing?
          textarea(ng-model="description" ng-keyup="updateDescription()" ng-disabled="currentUser.type == 'player'")
          button.small.button.large-12(ng-click="clearVotes()" hide-for="player" model="currentUser.type") Play Again
          .button-bar(hide-for="moderator" model="currentUser.type")
            ul.button-group
              li(ng-repeat="vote in voteValues")
                button.tiny.button(href="#" ng-click="setVote(vote.value)" ng-disabled="showVotes") {{vote.label}}
        .large-4.columns.statics(ng-show="showVotes")
          h5.title Details
          h4.success(ng-show="unanimous") Harmonious
          h4.error(ng-show="!unanimous") Disagreement
          table
            thead
              tr
                th Point
                th Votes
            tbody
              tr(ng-repeat="(point, votes) in points")
                td(ng-class="{active: unanimous}") {{point}}
                td {{votes.length}}
  .row.row-with-padding.share
    h5.title Share Session with your team
    .large-6.columns
      .row.collapse.row-with-padding
        label Full Link
        .large-11.columns
          input(type="text" ng-model="url" disabled)
        .large-1.column(tooltip="{{copyMsg}}" tooltip-placement="right" ng-mouseenter="setCopyMsg('Copy')")
          button.button.postfix(clip-copy='url' clip-click="setCopyMsg('Copied')")
            i.fa.fa-clipboard
    .large-6.columns
      .row.collapse.row-with-padding
        label Session Id
        .large-11.columns
          input(type="text" ng-model="sessionId" disabled)
        .large-1.columns(tooltip="{{copyMsg}}" tooltip-placement="right" ng-mouseenter="setCopyMsg('Copy')")
          button.button.postfix(clip-copy='sessionId' clip-click="setCopyMsg('Copied')")
            i.fa.fa-clipboard
include ../templates/footer.jade
