include ../templates/header.jade
.container
  .main-content
    .row-with-padding
      .large-8.large-centered.columns
        .row
          .large-8.columns
            h5 Your username:
            label Story description
            textarea(ng-model="storyDescription" ng-keyup)
          .large-4.columns
            a.medium.button Clear Votes
            a.medium.button Show Votes
        .row-with-padding
          .large-12.large-centered.columns
            .button-bar
              ul.button-group
                li(ng-repeat="vote in voteValues")
                  a.small.button(href="#" ng-click="setVote(vote)") {{vote}}
        .row
          .large-12.large-centered.columns
            table
              thead
                tr
                  th Name
                  th Voted
                  th Points
              tbody
                tr(ng-repeat="user in users")
                 td {{user.name}}
                 td {{user.voted}}
                 td {{user.points}}

include ../templates/footer.jade
