include ../templates/header.jade
.container(ng-controller="SessionCtrl" ng-init="init()")
  .main-content
    .row.row-with-padding
      .large-10.large-centered.columns
        .row
          .large-8.columns
            h5 Your username: {{username}}
            label Story description
            textarea(ng-model="description" ng-keyup="updateDescription()")
          .large-4.columns.statics(ng-show="showVotes")
            h5  Statics
            h3.success(ng-show="consensus") Consensus!!!
            table
              thead
                tr
                  th Points
                  th Votes
              tbody
                tr(ng-repeat="(point, votes) in points")
                  td {{point}}
                  td {{votes.length}}
        .row(hide-for="observer")
          .large-6.columns
            button.small.button(ng-click="clearVotes()") Clear Votes
            button.small.button(ng-click="revealVotes()") Show Votes
        .row.row-with-padding(hide-for="observer")
          .large-12.large-centered.columns
            .button-bar
              ul.button-group
                li(ng-repeat="vote in voteValues")
                  button.tiny.button(href="#" ng-click="setVote(vote.value)" ng-disabled="showVotes") {{vote.label}}
        .row(ng-show="players.length")
          .large-12.large-centered.columns
            h5 Players
            table
              thead
                tr
                  th Name
                  th Voted
                  th Points
              tbody
                tr(ng-repeat="player in players")
                 td(ng-class="{active: player.socketId == id}") {{player.username}}
                 td(ng-class="{active: player.socketId == id}")
                   i.fa.fa-check(ng-show="player.voted")
                 td(ng-class="{active: player.socketId == id}") {{votes[player.socketId]}}
        .row(ng-show="observers.length")
          .large-12.large-centered.columns
            h5 Observers
            table
              thead
                tr
                  th Name
              tbody
                tr(ng-repeat="observer in observers")
                 td(ng-class="{active: observer.socketId == id}") {{observer.username}}
        hr
        .row.share
          .large-12.large-centered.columns
            h5 Share this link with your team:
            a(ng-href="{{url}}") {{url}}
            h5 Or session Id :
            a(ng-href="{{url}}") {{sessionId}}

include ../templates/footer.jade
